.header {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.logo {
    display: flex;
}

ul {
    margin-left: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
}
