body {

}

.header {
    margin: 10px 120px;
}

.bar {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 15px;
}

.presentation {
    display: flex;
    align-items: center;
}

.image {
    width: 350px;
    height: 130px;
    border: 2px black solid;
}