body {
    
}

.main {
    padding: 10px 240px;
    display: flex;
    flex-direction: column;
}

/*Header section*/


.bar {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    
}

.welcome{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-size: 18px;
    flex: 0 2 410px;   
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.image {
    height: 220px;
    border: 2px black solid;
    flex: 0 1 420px;
}

/*Information section*/

.information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    
}



.photo-ribbon {
    
    display: flex;
    justify-content: space-evenly;
}

.photo-element {
    flex: 0 1 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.photo {
    width: 100px;
    height: 100px;
    border: 2px black solid;
}

.description {
    text-align: center;
    
}